.student {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #202020;
}
.student__resume {
  margin: 66px 0 0 0;
  display: flex;
  gap: 49px;
  flex-direction: row;
  justify-content: space-between;
}
.student__text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.student__name {
  padding: 0;
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  color: #fff;
}
.student__job {
  padding: 0;
  margin: 16px 0 0 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: #FFFFFF;
  mix-blend-mode: normal;
}
.student__about {
  padding: 0;
  margin: 26px 0 0 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.57;
  color: #FFFFFF;
  mix-blend-mode: normal;
}
.student__social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.student__social-link {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.214;
  color: #FFFFFF;
  text-decoration: none;
}
.student__avatar {
  margin: 0;
  padding: 0;
  max-height: 327px;
  max-width: 270px;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 860px) {
  .student {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .student__name {
    font-size: 40px;
  }
  .student__job {
    font-size: 12px;
  }
  .student__about {
    font-size: 12px;
  }
  .student__avatar {
    max-width: 255px;
    max-height: 307px;
  }
}

@media screen and (max-width: 570px) {
  .student {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .student__resume {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .student__avatar {
    min-width: 100%;
    order: -1;
  }
  .student__name {
    font-size: 30px;
  }
  .student__job {
    margin: 20px 0 0 0;
    font-size: 11px;
  }
  .student__about {
    margin: 20px 0 40px 0;
    font-size: 11px;
  }
}